<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/logo/fav-kt_logo-HAMMER.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/kt_logo-HAMMER-192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/img/logo/kt_logo-HAMMER-512.png">

    <link rel="manifest" href="/webmanifest.json">

    <script src="/js/main.js"></script>
</head>
<body>
    
    <div class="_wrapper">

        {# ============= ALERT ============== #}

        {% include "core/alert.html" %}

        {# ============= HEAD ============== #}

        {% include "core/head.html" %}
        
        {# ============= MAIN ============== #}

        <main>
            {% block content %}{% endblock content %}
        </main>

        {# ============= FOOT ============== #}

        {% include "core/foot.html" %}

    </div>


</body>
<script>
    (() => {
        "use strict";

        const header = document.querySelector("header")
        const observer = new IntersectionObserver(
            ([e]) => {
                e.target.classList.toggle("is-pinned", e.intersectionRatio < 1)
            },
            { threshold: [1] }
        );

        observer.observe(header);
    })();
</script>
</html>